<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>TLChat</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>If you don't, you won't be able to take photos and videos in your WeChat, or use video chat, sweep and other functions.</string>
	<key>NSContactsUsageDescription</key>
	<string>If you don't, WeChat won't be able to recommend your friends from your address book.WeChat only uses signatures for matching recognition and will not save your address book content.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>If you don't, you won't be able to participate in the WeChat sports leaderboard.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>If you don't, you won't be able to share your location in a chat or use features like shake, people nearby, and so on.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>If not, you will no longer be able to send voice messages or have audio-video chats in your WeChat.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>If not, you will not be able to send photos from the system album to friends or save pictures or videos to the album.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>If not, you will not be able to send photos from the system album to friends or save pictures or videos to the album.</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
